header {
    display: block;
    background-color: #ffffff;
    height: 75px;
    border-bottom: 1px solid #cccccc;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../images/bg.png");
    min-height: 100vh;
}

footer {
    display: flex;
    width: 100%;
    color: white;
    height: 75px;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    margin-top: 20px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    line-height: 2;
    color: #777777;
}

.navcontainer {
    width: 960px;
    margin: 0px auto 0px auto;
}

.pagetitle {
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding: 25px 50px 25px 50px;
    color: rgb(255, 255, 255);
    background-color: #4aaaa5;
}

.link {
    color: rgb(150, 150, 150);
    margin: 30;
    float: right;
}

.contentcontainer {
    width: 930px;
    padding: 20px;
    margin: 20px auto auto auto;
    background-color: white;
    border: 1px solid #dddddd;
}

.contenttitle {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    color:#4aaaa5;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

.portrait {
    float: left;
    width: 150px;
    border: 5px;
    margin: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both; 
}
